body {background-color: MediumSeaGreen;}
nav {background-color: lightblue}
nav {font-family: Helvetica, arial, sans-serif;}
p {font-family: "Garamond", Times, serif;}
center { color: navy;}
h1 {color: navy;margin-left: 50px;}
